/* 忘記密碼頁面主容器 */
.forgot-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.logo{
    width: 400px;
    height: auto;
    margin-bottom: 30px;
}

/* 忘記密碼表單 */
.forgot-password-card {
    background: linear-gradient(to bottom, #cce7ff, #fbfbfb); /* 上深下淺的漸層藍 */
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 320px;
}

/* 標題 */
.forgot-password-card h3 {
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #333;
}

/* Email 輸入框 */
.forgot-password-card input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
}

/* 送出按鈕 */
.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #b59a79;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.submit-btn:hover {
    background-color: #9e8668;
}

/* 成功訊息 */
.success-message {
    margin-top: 15px;
    font-size: 14px;
    color: rgb(255, 0, 0);
}

/* 返回登入頁連結 */
.back-to-login {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #cb34d6;
    transition: color 0.3s ease-in-out;
}

.back-to-login:hover {
    color: #9433a0;
    font-size: medium;
}
